mixin button_gradient(source, name)
  a(style!= attributes.style class="button_gradient" href= source)= name

mixin button_gradient-disable(name)
  a(style!= attributes.style class="button_gradient disable")= name
