div(class="control_pad")
  a(class="pad_home" href="../index.html" title="на главную")
    i(class="material-icons-round") home
  a(class="pad_back pad_disable")
    img(src="../res/vectors/arrow_forward.svg")
  a(class="pad_next" href="ui-kit2.html" title="ui-kit 2")
    img(src="../res/vectors/arrow_forward.svg")
