<!DOCTYPE html>
html(lang = "ru")
  head
    meta(charset="UTF-8")
    title UI-Kit 1
  body
    include /assets/elements/buttons.pug
    include /assets/elements/control_pad.pug
    
    mixin colorrectangle(color, text1, text2)
      div(class="uk1_color-n-text")
        div(class="uk1_rectangle" class=color)
        div(class="uk1_DarkShade-dsc")
          p= text1
          p= text2
    
    div(class="uk1_container1")
      +colorrectangle('DarkShade100', "Dark Shade 100%", "#1F2041")
      +colorrectangle('DarkShade75', "Dark Shade 75%", "#1F2041")
      +colorrectangle('DarkShade50', "Dark Shade 50%", "#1F2041")
      +colorrectangle('DarkShade25', "Dark Shade 25%", "#1F2041")
      +colorrectangle('DarkShade05', "Dark Shade 5%", "#1F2041")
      +colorrectangle('ColorPurple', "Purple", "#BC9CFF")
      +colorrectangle('ColorGreen', "Green", "#6FCF97")
      
      div(class="uk1_container2")
        table(border="0")
          tr
            td(class="uk1_fonts-title" style="font-size: 24px;") H1
            td(class="uk1_fonts-prw") <h1>This one is the sub-section or widget title</h>
          tr
            td(class="uk1_fonts-title" style="font-size: 19px;") H2
            td(class="uk1_fonts-prw") <h2>Next one is the item title inside widgets</h>
          tr
            td(class="uk1_fonts-title" style="font-size: 12px;") H3
            td(class="uk1_fonts-prw") <h3>This is a label or CTA text</h>
          tr
            td(class="uk1_fonts-title" style="font-size: 14px;") Body
            td(class="uk1_fonts-prw") <p>This is the body text which is used for most of the design, like paragraphs, lists, etc.</p>
        
//-
      <div class="container2">
        <table border="0">
          <tr>
              <td class="fonts-title" style="font-size: 24px;">H1</td>
              <td class="fonts-prw"><h1>This one is the sub-section or widget title</h></td>
          </tr>
          <tr>
              <td class="fonts-title" style="font-size: 19px;">H2</td>
              <td class="fonts-prw"><h2>Next one is the item title inside widgets</h></td>
          </tr>
          <tr>
              <td class="fonts-title" style="font-size: 12px;">H3</td>
              <td class="fonts-prw"><h3>This is a label or CTA text</h></td>
          </tr>
          <tr>
              <td class="fonts-title" style="font-size: 14px;">Body</td>
              <td class="fonts-prw"><p>This is the body text which is used for most of the design, like paragraphs, lists, etc.</p></td>
          </tr>
        </col>
        </table>
      </div>
    </div>

  </body>
  </html>
