.uk1-container {
  position: absolute;
  left: 150px;
  top: 145px;
  display: flex;
  flex-direction: column;
}

.uk1_color-n-text {
  display: flex;
  align-items: center;
}

.uk1_rectangle {
  width: 70px;
  height: 70px;
  /* Dark 100% */
  border-radius: 6px;
}

.uk1_DarkShade-dsc {
  margin-left: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 19px;
  line-height: 29px;
  /* Dark 100% */
  color: #1F2041;
}

/*цвета*/
.DarkShade100 {
  background: $darkshade100;
}
.DarkShade75 {
  background: $darkshade75;
}
.DarkShade50 {
  background: $darkshade50;
}
.DarkShade25 {
  background: $darkshade25);
}
.DarkShade05 {
  background: $darkshade05;
}
.ColorGreen {
  background: $colorgreen;
}
.ColorPurple {
  background: $colorpurple;
}

/*
.container2 {
  position: absolute;
  left: 854px;
  display: flex;
  flex-direction: column;
  width: 370px;
}

.fonts-prw-cont {
  display: flex;
  align-items: flex-start;
  width: 400px;
  margin-top: 50px;
}

.fonts-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  padding-right: 30px;
  vertical-align: top;


  text-align: right;

  color: rgba(31, 32, 65, 0.25);
}

.fonts-prw {
  margin: 0px;
  vertical-align: top;
    padding-bottom: 50px;
}*/
