<!DOCTYPE html>
html(lang = "ru")
  head
    meta(charset="UTF-8")
    title Главная
  body
    include /assets/elements/buttons.pug
    
    h1 Добро пожаловать
    p
      | Эта страница - меню. Используйте ссылки ниже, чтобы перейти к определённым страницам моего задания.<br>
      | Полезные ссылки находятся внизу страницы.

    div(class="menu_container")
      div(class="ui-kit_container")
        h2 UI-Kit
        +button_gradient('UI-kit/ui-kit.html', 'UI-kit страница 1')
        +button_gradient('UI-kit/ui-kit2.html', 'UI-kit страница 2')(style="margin-top: 10px")
        +button_gradient('UI-kit/ui-kit3.html', 'UI-kit страница 3')(style="margin-top: 10px")
        +button_gradient-disable('UI-kit страница 4')(style="margin-top: 10px")

      div(class="site_container")
        h2 Страницы сайта
        +button_gradient-disable('Главная страница')
        +button_gradient-disable('Поиск номера')(style="margin-top: 10px")
        +button_gradient-disable('Страница номера')(style="margin-top: 10px")
        +button_gradient-disable('Регистрация')(style="margin-top: 10px")

    footer
      div(class="footer_container")
        a(href="https://github.com/GooseRuby/fsd_team-learning") GitHub
        a(href="https://www.figma.com/file/MumYcKVk9RkKZEG6dR5E3A/FSD-frontend-education-program.-The-2nd-task") Figma
        a(href="https://vk.com/gooslink") Вконтакте автора
